@model IEnumerable<LiveShowClient.ViewModels.ShowWithIdVM>;

@{
    ViewData["Title"] = "Shows";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h4 style="text-align: center; color: azure; margin-top: 40px;"> Attend shows</h4>

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin:40px">
            <div class="card">
                <img class="card-img-top" src="~/images/audience-band-concert-crowd-167636.jpg" alt="Live Show" />
                <div class="card-body">
                    <b>@Html.DisplayNameFor(model => model.ArtistName): </b>@Html.DisplayFor(modelItem => item.ArtistName)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Venue): </b>@Html.DisplayFor(modelItem => item.Venue)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.DateTime): </b> @Html.DisplayFor(modelItem => item.DateTime)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Genre): </b> @Html.DisplayFor(modelItem => item.Genre)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Attendances): </b> @Html.DisplayFor(modelItem => item.Attendances)
                </div>
                <div class="card-footer" style="text-align: center">
                    <a asp-controller="Attendance" asp-action="AttendShow" asp-route-id="@item.Id">Attend</a>
                </div>
            </div>
        </div>
        <br />
    }
</div>
